<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">EVC Application Details <span class="badge">{{vm.evcApplication.application}}</h4>
    </div>
    <div class="modal-body">
        <form novalidate>
        	<timepicker></timepicker>
            <formly-form model="vm.evcApplication" fields="vm.evcApplicationFields" form="vm.evcApplicationForm">
                <button ng-click="vm.updateCreateRow()" class="btn btn-primary" ng-disabled="vm.evcApplicationForm.$invalid">{{vm.operation}}</button>
                <button type="button" ng-click="vm.deleteRow()" class="btn btn-warning" confirm="Are you sure?" ng-hide="vm.operation === 'Create'">Delete</button>
            </formly-form>
        </form>
    </div>
</div>