<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="vm.navCollapsed" ng-click="vm.navCollapsed = !vm.navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GPR - Grants Unit</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="vm.navCollapsed">
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>Calls for Proposals               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Create/Edit Call</a></li>
                    <li><a href="#">Create/Edit Key Performance Indicator</a></li>
                    <li><a href="#">Create/Edit Key Resulta Area</a></li>
                    <li><a ui-sref="home.programmes">Create/Edit Programme</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>Applications               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Create/Edit Application</a></li>
                    <li><a href="#">Create/Edit Organization</a></li>
                    <li><a href="#">Maintain Lookup Tables</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>Admin/Tech Compliance               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Do Compliance</a></li>
                    <li><a href="#">Assign Officers</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>Relevance Checks               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Do Relevance Check</a></li>
                    <li><a href="#">Assign Officers</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>Assessments               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Do Assessment</a></li>
                    <li><a href="#">Assign Template to Call</a></li>
                    <li><a href="#">Assign Assessors</a></li>
                    <li><a href="#">Create/Edit Assessment Template</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>EVC Meetings               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Create/Edit Meeting</a></li>
                    <li><a href="#">Create/Edit Participants</a></li>
                </ul>
            </li>
            <li class="dropdown" dropdown="" dropdown>
                <a href="#" dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>Due Diligences               <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" dropdown-menu>
                    <li><a href="#">Do Due Diligence</a></li>
                    <li><a href="#">Assign Officers</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Link</a>
            </li>
            <li class="dropdown" dropdown="">
                <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">Dropdown               <b class="caret"></b>
            </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
