<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="vm.navCollapsed" ng-click="vm.navCollapsed = !vm.navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" ng-if="!vm.section" ng-click="vm.section=!vm.section">Grants</a>
    <a class="navbar-brand" href="#" ng-if="vm.section" ng-click="vm.section=!vm.section">PMU</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" uib-collapse="vm.navCollapsed">
    <ul class="nav navbar-nav navbar-left">
      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Calls for Proposals <b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.cfps">Call</a></li>
          <li><a ui-sref="home.kpis">Performance Indicator</a></li>
          <li><a ui-sref="home.kras">Key Result Area</a></li>
          <li><a ui-sref="home.programmes">Programme</a></li>
        </ul>
      </li>
      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Applications <b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.applications">Application</a></li>
          <li><a ui-sref="home.organisations">Organisation</a></li>

        </ul>
      </li>
      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Admin & Tech <b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.compliance-select({compliance_section : 2})">Do Admin Compliance</a></li>          
          <li><a ui-sref="home.compliance-assign-applications({compliance_section : 2})">Assign Admin & Tech Officers</a></li>          
          <li><a ui-sref="home.compliance-select-pmu({compliance_section : 2})">Grants Unit - Promote/Demote/Fail</a></li>          
          <!--<li><a href="#">Assessment Template</a></li>-->
        </ul>
      </li>
      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Relevance Checks <b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.compliance-select({compliance_section : 3})">Do Relevance</a></li>          
          <li><a ui-sref="home.compliance-assign-applications({compliance_section : 3})">Assign Relevance Officers</a></li>          
          <li><a ui-sref="home.compliance-select-pmu({compliance_section : 3})">Grants Unit - Promote/Demote/Fail</a></li>          
          <!--<li><a href="#">Assessment Template</a></li>-->
        </ul>
      </li>

      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Assessments <b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.compliance-assessment-select({compliance_section : 4})">Do Assessment</a></li>
          <li><a ui-sref="home.compliance-assign-applications({compliance_section : 4})">Assign Assessors</a></li>                    
          <li><a ui-sref="home.compliance-select-la({compliance_section : 4})">Lead Assessor - View Assessments</a></li>
          <li><a ui-sref="home.compliance-select-all({compliance_section : 4})">View All Assessments</a></li>          
          <!-- <li><a ui-sref="home.compliance-select-pmu({compliance_section : 4})">Grants Unit - Promote/Demote/Fail</a></li> -->
          <!--<li><a href="#">Assessment Template</a></li>-->
        </ul>
      </li>

      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        
        <!-- <a href="#" uib-dropdown-toggle>PM/PMU Advisory Note <b class="caret"></b></a> -->

        <a ui-sref="home.pmu-advisory-notes" uib-dropdown-toggle>PM/PMU Advisory Note</a>        
        <!-- <ul uib-dropdown-menu>
          <li><a ui-sref="home.pmu-advisory-notes">Add/Edit Note</a></li>          
          <li><a href="#">Assessment Template</a></li>
        </ul> -->
      </li>

      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Due Diligence <b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.compliance-select({compliance_section : 6})">Do Due Diligence</a></li>          
          <li><a ui-sref="home.compliance-assign-applications({compliance_section : 6})">Assign Due Diligence Officers</a></li>                    
          <li><a ui-sref="home.compliance-select-pmu({compliance_section : 6})">Grants Unit - Promote/Demote/Fail</a></li>          
        </ul>
      </li>

      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="!vm.section">
        <a href="#" uib-dropdown-toggle>Approval Meeting<b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.approval-meetings">Add/Edit Meeting</a></li>          
          <!--<li><a href="#">Assessment Template</a></li>-->
        </ul>
      </li>


      <!-- PMU SECTION -->
      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="vm.section">
        <a ui-sref="home.projects" uib-dropdown-toggle>Project<!-- <b class="caret"></b> --></a>
<!--         <ul uib-dropdown-menu>
          <li><a ui-sref="home.projects">Project</a></li>
        </ul>
 -->      </li>

      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="vm.section">
        <a href="#" uib-dropdown-toggle>Project-Partners<b class="caret"></b></a>
        <ul uib-dropdown-menu>
          <li><a ui-sref="home.project-partners">Project Partners</a></li>
          <li><a ui-sref="home.project-partners-contracts">Partner Contracts</a></li>
          <li><a ui-sref="home.project-partners-implementation-plans">Partner Implementation Plan</a></li>
          <li><a ui-sref="home.project-partners-budgets">Partner Budgets</a></li>          
          <li><a ui-sref="home.project-partners-report-schedules">Partner Reporting Schedule</a></li>
        </ul>
      </li>

      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="vm.section">
        <a ui-sref="home.project-reviews" uib-dropdown-toggle>Project-Reviews<!-- <b class="caret"></b> --></a>
        <!-- <ul uib-dropdown-menu>
          <li><a ui-sref="home.project-reviews">Review</a></li>
        </ul> -->
      </li>


      <li ng-hide="!isAuthenticated" uib-dropdown  ng-if="vm.section">
        <a ui-sref="home.project-expenses" uib-dropdown-toggle>Project Expenses<!-- <b class="caret"></b> --></a>
        <!-- <ul uib-dropdown-menu>
          <li><a ui-sref="home.project-expenses">Project Payment</a></li>
          <li><a ui-sref="home.project-review-expenses">Review Project Expenses</a></li>
        </ul> -->
      </li>



    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a style="font-size: 10px;" ng-hide="isAuthenticated" ng-click="vm.registerFunc()"> Register </a></li>
      <li><a style="font-size: 10px;" ng-hide="!isAuthenticated" ui-sref="home.persons">Persons</a></li>
      <li><a style="font-size: 10px;" ng-hide="!isAuthenticated" ui-sref="home.lookups">Lookup Tables</a></li>
      <li>
        <a style="cursor:pointer;font-size: 10px;" ng-hide="isAuthenticated" ng-click="vm.loginFunc()">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
      </li>
      
      <li>
        <a style="cursor:pointer;font-size: 10px;" ng-hide="!isAuthenticated" ng-click="vm.logoutFunc()">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout, {{currentUser}}</a>
      </li>    
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
