<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="vm.navCollapsed" ng-click="vm.navCollapsed = !vm.navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GPR</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="vm.navCollapsed">
        <ul class="nav navbar-nav navbar-left">
            <li ng-hide="!isAuthenticated" uib-dropdown>
                <a href="#" uib-dropdown-toggle>Calls for Proposals               <b class="caret"></b></a>
                <ul uib-dropdown-menu>
                    <li><a ui-sref="home.cfps">Create/Edit Call</a></li>
                    <li><a ui-sref="home.kpis">Create/Edit Key Performance Indicator</a></li>
                    <li><a ui-sref="home.kras">Create/Edit Key Result Area</a></li>
                    <li><a ui-sref="home.programmes">Create/Edit Programme</a></li>
                </ul>
            </li>
            <li  ng-hide="!isAuthenticated" uib-dropdown>
                <a href="#" uib-dropdown-toggle>Applications              <b class="caret"></b></a>
                <ul uib-dropdown-menu>
                    <li><a ui-sref="home.applications">Create/Edit Application</a></li>
                    <li><a ui-sref="home.organisations">Create/Edit Organisation</a></li>

                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="font-size: 13px;" ng-hide="isAuthenticated" ng-click="vm.registerFunc()">  Register </a></li>
          <li><a style="font-size: 13px;" ng-hide="!isAuthenticated" ui-sref="home.lookups">Lookup Tables</a></li>
          <li><a style="cursor:pointer;font-size: 13px;" ng-hide="isAuthenticated" ng-click="vm.loginFunc()"><span class="
glyphicon glyphicon-log-in aria-hidden="true"></span> Login </a></li>
          <li><a style="cursor:pointer;font-size: 13px;" ng-hide="!isAuthenticated" ng-click="vm.logoutFunc()"><span class="
glyphicon glyphicon-log-out aria-hidden="true"></span> Logout, {{currentUser}} </a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
