<div class="col-md-12">
    <h3>
    {{title}} - Projects
    </h3>
    <div class="container-fluid">
        <!-- <button class="btn btn-lg btn-default" ng-click="openUpload()">Upload File</button> -->
        <div class="row">
            <div class="col-md-4">
                <div svg-map></div>
                <div class="scale">
                    <div ng-repeat="n in scaleValues" ng-style="{backgroundColor:'{{n | map_colour:projMax}}'}">{{n}}</div>
                </div>
                <br>
            </div>
            <div class="col-md-8">
                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-grouping ui-grid-selection ui-grid-resize-columns class="grid-tall" style="font-size: 14px;"></div>
            </div>
        </div>
    </div>
</div>
