<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>

        <button
          type="button"
          class="btn btn-primary pull-right"
          ng-hide="vm.operation === 'Create'"
          ng-click="vm.openUpload('project_partner_contract','file_contract_id','Contract Document','Contract_',
                  vm.project_partner.project+'-'+vm.project_partner.partner_seq)"
          aria-hidden="true">
          Contract Document
        </button>

        <h4 class="modal-title">Partner Contract</h4>
        <h5>Project : {{vm.project_partner.project}}-{{vm.project_partner.partner_seq}}</h5>
        <h5>Partner : {{vm.project_partner.partner_name}}</h5>
    </div>
    <div class="modal-body">
        <form novalidate>
            <uib-tabset type="pills" active="0">
                <uib-tab index="tab.index" ng-repeat="tab in vm.tabs" heading="{{tab.title}}" disable="tab.disabled">
                    </br>
                    <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.projectForm" options="tab.form.options">
                    </formly-form>
                    <button ng-click="vm.updateCreateRow()" class="btn btn-primary" ng-disabled="vm.projectForm.$invalid">{{vm.operation}}</button>
                    <button type="button" ng-click="vm.deleteRow()" class="btn btn-warning" confirm="Are you sure?" ng-hide="vm.operation === 'Create'">Delete</button>
                </uib-tab>
                <uib-tab index="1" heading="Payment Schedule" ng-click="vm.change()" active="false" ng-hide="vm.operation === 'Create'">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="vm.openModal(0,'Create')">Add Scheduled Payment</button>
                    </div>
                    <div ui-grid="vm.options" ui-grid-exporter ui-grid-auto-resize ui-grid-selection class="myGridModal"></div>
                    </br>
                </uib-tab>
            </uib-tabset>
        </form>
    </div>
</div>
